
.sidebar {
    background-color: #1c1c1c; 
  }
  

  .sidebar a, 
  .sidebar .c-sidebar-brand, 
  .sidebar .c-sidebar-nav-link, 
  .sidebar .c-sidebar-nav-title { 
    color: #ffffff;
  }
  
  .sidebar .c-sidebar-nav-icon {
    color: #ffffff;
  }